[workspace]
members = [
    "rustico",
    "rusto-irc",
    "rustico-cli",
    "rusto-utils",
]

[profile.release]
lto = "fat"
opt-level = "s"
strip = "debuginfo"
codegen-units = 1
overflow-checks = true

[patch.crates-io]
irc = { path = "irc" }
